.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #eeeeee;
}

.section-wrapper {
  display: flex;
  flex: 2;
}

.logo-section {
  flex: 0 0 25%;
}

.separator-section {
  flex: 0 0 3px;
}

.desc-section {
  flex: 1 1;
}

.center-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center-me img {
  width: 100%;
}

.vertical-line {
  height: 100%;
  margin-right: 1px;
  border-right: 1px solid #393e46;
}

.box-on-the-line {
  position: absolute;
  top: calc(50% - 3rem);
  width: 3px;
  height: 6rem;
  background-color: #00adb5;
}

.construction-wrapper {
  position: relative;
  top: calc(50% - 4.5rem);
  width: 80%;
  max-width: 40rem;
  padding: 0 5vw;
  height: 20rem;
}

.construction-wrapper h1 {
  padding: 0;
  margin: 0;
  font-size: 4rem;
  font-weight: normal;
  line-height: 4.5rem;
}

.construction-wrapper h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.construction-wrapper p {
  font-weight: lighter;
}

.icons-panel {
  margin-top: 2rem;
}

.icons-panel:not(:first-child) a {
  margin-right: 0.5rem;
}

.icons-panel img {
  width: 2.5rem;
  height: 2.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .box-on-the-line {
    top: calc(50% - 1.5rem);
    height: 3rem;
  }
  .construction-wrapper {
    top: calc(50% - 2.5rem);
    height: 18rem;
  }
  .construction-wrapper h1 {
    font-size: 2rem;
    line-height: 2.25rem;
  }
  .construction-wrapper h3 {
    margin: 1rem 0 .5rem 0;
    font-size: 1rem;
    font-weight: 500;
  }
  .construction-wrapper p {
    font-weight: lighter;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .icons-panel {
    margin-top: 1.5rem;
  }
  .icons-panel:not(:first-child) a {
    margin-right: 1.5vw;
  }
  .icons-panel img {
    width: 2rem;
    height: 2rem;
  }
  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 2rem!important;
    height: 2rem!important;
    flex-shrink: 0;
    line-height: 1.5rem!important;
    border-radius: 50%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
