<section class="page-wrapper">
  <section class="section-wrapper">
    <section class="logo-section">
      <div class="center-me">
        <img src="assets/icons/logo-dark.svg" alt="ta">
      </div>
    </section>

    <section class="separator-section">
      <div class="vertical-line"></div>
      <div class="box-on-the-line"></div>
    </section>

    <section class="desc-section whitish-font-color">
      <div class="construction-wrapper">
        <h1>Under</h1>
        <h1>Construction</h1>
        <h3>Hello! I'm Toslim <span class="primary-font-color">Arif.</span></h3>
        <p>I am currently designing toslimarif.com and updating it with my most recent projects. If you  would like to see a sampling of my work or interested in starting a project together, please get in touch.</p>
      </div>
    </section>
  </section>
</section>
